<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Pasien | CareLog</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="/assets/css/output.css">
</head>
<body>
    <div class="flex bg-[#F8FAFC] <%= queues.length > 1 ? 'h-full' : 'h-screen' %> gap-2 w-full">
        <%- include('../partials/sidebarDoctor.ejs') %>

        <div class="h-full text-[#64748B] w-full">
            <div class="p-20 flex flex-col gap-10">
                <div class="flex-col gap-10 flex">
                    <h1 class="text-xl font-bold text-[#0B2C46]">Riwayat Pasien</h1>
                </div>

                <% if (queues.length > 0) { %>
                    <% queues.forEach(queue => { %>
                        <div class="flex flex-col w-full bg-white rounded-md p-8 gap-10">
                            <div class="flex flex-col gap-4">
                                <div class="flex justify-between items-center">
                                    <div class="flex items-center gap-6 text-[#0B2C46]">
                                        <span class="w-10 h-10 flex items-center justify-center rounded-full bg-[#2B96CA26]/50">
                                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path d="M7 4V2H17V4H20.0066C20.5552 4 21 4.44495 21 4.9934V21.0066C21 21.5552 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5551 3 21.0066V4.9934C3 4.44476 3.44495 4 3.9934 4H7ZM7 6H5V20H19V6H17V8H7V6ZM9 4V6H15V4H9Z" />
                                            </svg>
                                        </span>
                                        <span><%= queue.formattedScheduledAt %></span>
                                    </div>
                                    <div class="bg-[#00FF082E]/50 text-[#13B900] px-8 py-2 rounded-xl">
                                        Selesai
                                    </div>
                                </div>
                                <hr class="text-[#64748B]/25">
                            </div>

                            <div class="flex flex-col gap-8 px-1">
                                <div class="flex gap-8">
                                    <span class="w-6 h-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"></path><path d="M14 14.252V16.3414C13.3744 16.1203 12.7013 16 12 16C8.68629 16 6 18.6863 6 22H4C4 17.5817 7.58172 14 12 14C12.6906 14 13.3608 14.0875 14 14.252ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.21 11 16 9.21 16 7C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7C8 9.21 9.79 11 12 11ZM19.4184 17H23.0042V19H19.4184L21.2469 20.8284L19.8326 22.2426L15.59 18L19.8326 13.7574L21.2469 15.1716L19.4184 17Z"></path></svg>
                                    </span>
                                    <p>Pasien <%= queue.Patient.Profile.name %></p>
                                </div>
                                <div class="flex gap-8">
                                    <span class="w-6 h-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"></path><path d="M8 3V5H6V9C6 11.2091 7.79086 13 10 13C12.2091 13 14 11.2091 14 9V5H12V3H15C15.5523 3 16 3.44772 16 4V9C16 11.9727 13.8381 14.4405 11.0008 14.9169L11 16.5C11 18.433 12.567 20 14.5 20C15.9973 20 17.275 19.0598 17.7749 17.7375C16.7283 17.27 16 16.2201 16 15C16 13.3431 17.3431 12 19 12C20.6569 12 22 13.3431 22 15C22 16.3711 21.0802 17.5274 19.824 17.8854C19.2102 20.252 17.0592 22 14.5 22C11.4624 22 9 19.5376 9 16.5L9.00019 14.9171C6.16238 14.4411 4 11.9731 4 9V4C4 3.44772 4.44772 3 5 3H8ZM19 14C18.4477 14 18 14.4477 18 15C18 15.5523 18.4477 16 19 16C19.5523 16 20 15.5523 20 15C20 14.4477 19.5523 14 19 14Z"></path></svg>
                                    </span>
                                    <p>Diagnosis: <%= !queue.Histories[0].MedicalRecord ? 'Belum Tersedia' : queue.Histories[0].MedicalRecord.diagnosis %></p>
                                </div>
                                <div class="flex justify-between items-center">
                                    <div class="flex gap-8">
                                        <span class="w-6 h-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"></path><path d="M19.7786 4.22184C22.1217 6.56498 22.1217 10.364 19.7786 12.7071L12.7075 19.7782C10.3643 22.1213 6.56535 22.1213 4.2222 19.7782C1.87906 17.435 1.87906 13.6361 4.2222 11.2929L11.2933 4.22184C13.6364 1.87869 17.4354 1.87869 19.7786 4.22184ZM14.1224 15.5348L8.46555 9.87798L5.63642 12.7071C4.07432 14.2692 4.07432 16.8019 5.63642 18.364C7.19851 19.9261 9.73117 19.9261 11.2933 18.364L14.1224 15.5348ZM18.3643 5.63605C16.8022 4.07395 14.2696 4.07395 12.7075 5.63605L9.87976 8.46377L15.5366 14.1206L18.3643 11.2929C19.9264 9.73081 19.9264 7.19815 18.3643 5.63605Z"></path></svg>
                                        </span>
                                        <p>Resep: <%= !queue.Histories[0].Prescription ? 'Belum Tersedia' : 'Tersedia' %></p>
                                    </div>
                                    <% if (queue.Histories[0].Prescription) { %>
                                        <a href="" class="border border-[#2B96CA] text-[#2B96CA] rounded-xl px-5 w-50 text-center py-2">
                                            Lihat Resep
                                        </a>
                                    <% } %>
                                </div>
                                <a href="" class="bg-[#2B96CA] text-white rounded-xl px-5 w-full text-center py-2">
                                    Unduh PDF
                                </a>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <div class="text-[#94A3B8] italic">
                        Belum ada riwayat pasien.
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>